<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Git Profile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><%= t '.home' %></a>
        </li>
        <li class="nav-item">
          <%= link_to t('.add_git_profile'), new_member_path ,class: "nav-link active" %>
        </li>
      </ul>

      <%= form_with id: 'search_field', class: 'd-flex', url: search_members_path, local: true, method: :get do |f| %>
        <%= fields_for :search do |search_field| %>
          <%= search_field.text_field :arg, class: 'form-control me-2', placeholder: t('.search') %>
          <%= search_field.submit t('.search'), class: 'btn btn-outline-success', disable_with: 'Submiting...' %>
        <% end %>
      <% end %>

    </div>
  </div>
</nav>
