<%= form_with model: member, local: true do |form| %>
  <div>
    <%= form.label :name, member.class.human_attribute_name(:name) %>
    <p>
      <%= form.text_field :name %>
    </p>
  </div>

  <%= form.fields_for :repositories, member.repositories do |repository_form| %>
    <div>
      <%= repository_form.label :url, 'URL' %>
      <p>
        <%= repository_form.text_field :url %>
      </p>
    </div>
  <% end %>


  <%= form.submit %>
<% end %>